.flex-container {
    display: flex;
    flex-wrap: wrap;
}

#all_canvas{
    margin-right: 15px;
}



#toolbox{
    background-color: lightgray;
    margin-bottom: 0px;
    max-width: 325px;
    padding: 1em;
}

#toolbox p{
    text-align: left;
    padding: 10px;
}

#layers {
    background-color: lightgray;
    max-width: 15em;
    min-height: 80px;
    text-align: center;
}

#layers p{
    padding-top: 1em;
}