.flex-container {
    display: flex;
    flex-wrap: wrap;
}

#all_canvas{
    margin-right: 15px;
}



#toolbox{
    background-color: lightgray;
    margin-bottom: 0px;
    max-width: 325px;
    display: flex;
}

#toolbox p{
    text-align: center;
    padding: 10px;
}


#lowers{
    margin-top: 2em;

}

#lowers div {
    margin-left: 1em;

}

#layers {
    background-color: lightgray;
    min-width: 20em;
    max-width: 35em;
    min-height: 80px;
    text-align: center;
}

#layers p{
    padding-top: 1em;
}
